html {
  height: 100%;
  width: 100%;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;

}

h1 {
  margin-bottom: 0px;
}

nav {

  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  padding: 2px;
  
}
.nav_link {
  color: darkgray;
  text-decoration: none;
  border: 1px solid darkgray;
}

.nav_link:hover {
  color: white;
  background-color: red;
  border: 1px solid white;
}

h3 {
  font-size: 18px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 7px;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 10px;
}

li{
  font-size: 10px;
}

q {
  font-style: italic;
}

.events_list {

  font-size: 12px;
  list-style-type: none;
  padding: 10px;
  background-color: #E4E3E2;
  margin-bottom: 3px;
  border-radius: 5px;
  border-color: black;
  border: 1px solid;
  
}


.events_link {
  color: darkgray;
  
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 10px;
  padding: 12px;
}